In [ ]:
import pandas as pd
from mlxtend.frequent_patterns import apriori,association_rules
import numpy as np

In [ ]:
df_mov = pd.read_csv("my_movies.csv")

In [ ]:
df_mov

              V1             V2             V3  ... LOTR Braveheart  Green Mile
0    Sixth Sense          LOTR1  Harry Potter1  ...    0          0           1
1      Gladiator        Patriot     Braveheart  ...    0          1           0
2          LOTR1          LOTR2            NaN  ...    0          0           0
3      Gladiator        Patriot    Sixth Sense  ...    0          0           0
4      Gladiator        Patriot    Sixth Sense  ...    0          0           0
5      Gladiator        Patriot    Sixth Sense  ...    0          0           0
6  Harry Potter1  Harry Potter2            NaN  ...    0          0           0
7      Gladiator        Patriot            NaN  ...    0          0           0
8      Gladiator        Patriot    Sixth Sense  ...    0          0           0
9    Sixth Sense           LOTR      Gladiator  ...    1          0           1

[10 rows x 15 columns]

In [ ]:
df_mov.shape

(10, 15)

In [ ]:
df = df_mov.iloc[:,5:]

In [ ]:
df

   Sixth Sense  Gladiator  LOTR1  ...  LOTR  Braveheart  Green Mile
0            1          0      1  ...     0           0           1
1            0          1      0  ...     0           1           0
2            0          0      1  ...     0           0           0
3            1          1      0  ...     0           0           0
4            1          1      0  ...     0           0           0
5            1          1      0  ...     0           0           0
6            0          0      0  ...     0           0           0
7            0          1      0  ...     0           0           0
8            1          1      0  ...     0           0           0
9            1          1      0  ...     1           0           1

[10 rows x 10 columns]

In [ ]:
df.describe()

       Sixth Sense  Gladiator      LOTR1  ...       LOTR  Braveheart  Green Mile
count    10.000000  10.000000  10.000000  ...  10.000000   10.000000   10.000000
mean      0.600000   0.700000   0.200000  ...   0.100000    0.100000    0.200000
std       0.516398   0.483046   0.421637  ...   0.316228    0.316228    0.421637
min       0.000000   0.000000   0.000000  ...   0.000000    0.000000    0.000000
25%       0.000000   0.250000   0.000000  ...   0.000000    0.000000    0.000000
50%       1.000000   1.000000   0.000000  ...   0.000000    0.000000    0.000000
75%       1.000000   1.000000   0.000000  ...   0.000000    0.000000    0.000000
max       1.000000   1.000000   1.000000  ...   1.000000    1.000000    1.000000

[8 rows x 10 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sixth Sense    10 non-null     int64
 1   Gladiator      10 non-null     int64
 2   LOTR1          10 non-null     int64
 3   Harry Potter1  10 non-null     int64
 4   Patriot        10 non-null     int64
 5   LOTR2          10 non-null     int64
 6   Harry Potter2  10 non-null     int64
 7   LOTR           10 non-null     int64
 8   Braveheart     10 non-null     int64
 9   Green Mile     10 non-null     int64
dtypes: int64(10)
memory usage: 928.0 bytes

In [ ]:
frequent_itemsets = apriori(df, min_support=0.1, use_colnames=True)
frequent_itemsets

    support                                           itemsets
0       0.6                                      (Sixth Sense)
1       0.7                                        (Gladiator)
2       0.2                                            (LOTR1)
3       0.2                                    (Harry Potter1)
4       0.6                                          (Patriot)
5       0.2                                            (LOTR2)
6       0.1                                    (Harry Potter2)
7       0.1                                             (LOTR)
8       0.1                                       (Braveheart)
9       0.2                                       (Green Mile)
10      0.5                           (Sixth Sense, Gladiator)
11      0.1                               (Sixth Sense, LOTR1)
12      0.1                       (Sixth Sense, Harry Potter1)
13      0.4                             (Sixth Sense, Patriot)
14      0.1                               (LOTR2, Sixth Sense)
15      0.1                                (Sixth Sense, LOTR)
16      0.2                          (Sixth Sense, Green Mile)
17      0.6                               (Patriot, Gladiator)
18      0.1                                  (LOTR, Gladiator)
19      0.1                            (Braveheart, Gladiator)
20      0.1                            (Green Mile, Gladiator)
21      0.1                             (LOTR1, Harry Potter1)
22      0.2                                     (LOTR2, LOTR1)
23      0.1                                (LOTR1, Green Mile)
24      0.1                             (LOTR2, Harry Potter1)
25      0.1                     (Harry Potter1, Harry Potter2)
26      0.1                        (Harry Potter1, Green Mile)
27      0.1                              (Braveheart, Patriot)
28      0.1                                (LOTR2, Green Mile)
29      0.1                                 (LOTR, Green Mile)
30      0.4                  (Sixth Sense, Patriot, Gladiator)
31      0.1                     (Sixth Sense, LOTR, Gladiator)
32      0.1               (Sixth Sense, Green Mile, Gladiator)
33      0.1                (Sixth Sense, Harry Potter1, LOTR1)
34      0.1                        (LOTR2, Sixth Sense, LOTR1)
35      0.1                   (LOTR1, Sixth Sense, Green Mile)
36      0.1                (LOTR2, Sixth Sense, Harry Potter1)
37      0.1           (Sixth Sense, Harry Potter1, Green Mile)
38      0.1                   (LOTR2, Sixth Sense, Green Mile)
39      0.1                    (Sixth Sense, LOTR, Green Mile)
40      0.1                   (Braveheart, Patriot, Gladiator)
41      0.1                      (LOTR, Green Mile, Gladiator)
42      0.1                      (LOTR2, LOTR1, Harry Potter1)
43      0.1                 (LOTR1, Harry Potter1, Green Mile)
44      0.1                         (LOTR2, LOTR1, Green Mile)
45      0.1                 (LOTR2, Harry Potter1, Green Mile)
46      0.1         (Sixth Sense, LOTR, Green Mile, Gladiator)
47      0.1         (LOTR2, Sixth Sense, Harry Potter1, LOTR1)
48      0.1    (LOTR1, Sixth Sense, Harry Potter1, Green Mile)
49      0.1            (LOTR1, Sixth Sense, Green Mile, LOTR2)
50      0.1    (LOTR2, Sixth Sense, Harry Potter1, Green Mile)
51      0.1          (LOTR2, LOTR1, Harry Potter1, Green Mile)
52      0.1  (LOTR2, Sixth Sense, Green Mile, Harry Potter1...

In [ ]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.9)
rules

         antecedents  ... conviction
0      (Sixth Sense)  ...       1.80
1        (Gladiator)  ...       1.40
2      (Sixth Sense)  ...       1.20
3          (Patriot)  ...       1.20
4      (Sixth Sense)  ...       1.08
..               ...  ...        ...
233          (LOTR2)  ...       1.80
234    (Sixth Sense)  ...       1.08
235     (Green Mile)  ...       1.80
236  (Harry Potter1)  ...       1.80
237          (LOTR1)  ...       1.80

[238 rows x 9 columns]

In [ ]:
rules.sort_values('lift',ascending = False)[0:20]

                              antecedents  ... conviction
202                   (LOTR1, Green Mile)  ...        inf
187          (Sixth Sense, Harry Potter1)  ...        inf
126  (Sixth Sense, Gladiator, Green Mile)  ...        inf
128                   (Sixth Sense, LOTR)  ...        inf
201                (LOTR1, Harry Potter1)  ...        inf
200                   (LOTR2, Green Mile)  ...        inf
199                (LOTR2, Harry Potter1)  ...        inf
133               (Gladiator, Green Mile)  ...        inf
135                                (LOTR)  ...        inf
142                  (LOTR2, Sixth Sense)  ...        inf
143                (LOTR2, Harry Potter1)  ...        inf
189           (Harry Potter1, Green Mile)  ...        inf
186                   (LOTR2, Green Mile)  ...        inf
97                                 (LOTR)  ...        inf
184                  (LOTR2, Sixth Sense)  ...        inf
146                  (Sixth Sense, LOTR1)  ...        inf
147                (LOTR1, Harry Potter1)  ...        inf
175                   (LOTR2, Green Mile)  ...        inf
174                  (LOTR2, Sixth Sense)  ...        inf
171                   (LOTR1, Green Mile)  ...        inf

[20 rows x 9 columns]

In [ ]:
rules[rules.lift>1]

         antecedents  ... conviction
0      (Sixth Sense)  ...       1.80
1        (Gladiator)  ...       1.40
2      (Sixth Sense)  ...       1.20
3          (Patriot)  ...       1.20
4      (Sixth Sense)  ...       1.08
..               ...  ...        ...
233          (LOTR2)  ...       1.80
234    (Sixth Sense)  ...       1.08
235     (Green Mile)  ...       1.80
236  (Harry Potter1)  ...       1.80
237          (LOTR1)  ...       1.80

[236 rows x 9 columns]

In [ ]:
rules[rules.lift>5]#FROM BELOW WE SEE THAT IF PERSON BUYS LOTR THEN HE WILL LIKELY BUY GLADIATOR AND GREEN MILE AND VICE VERSA

                              antecedents  ... conviction
96                (Gladiator, Green Mile)  ...        inf
97                                 (LOTR)  ...        inf
126  (Sixth Sense, Gladiator, Green Mile)  ...        inf
128                   (Sixth Sense, LOTR)  ...        inf
133               (Gladiator, Green Mile)  ...        inf
135                                (LOTR)  ...        inf
142                  (LOTR2, Sixth Sense)  ...        inf
143                (LOTR2, Harry Potter1)  ...        inf
146                  (Sixth Sense, LOTR1)  ...        inf
147                (LOTR1, Harry Potter1)  ...        inf
156                  (LOTR1, Sixth Sense)  ...        inf
158                   (LOTR1, Green Mile)  ...        inf
159          (Sixth Sense, Harry Potter1)  ...        inf
161           (Harry Potter1, Green Mile)  ...        inf
170                  (LOTR1, Sixth Sense)  ...        inf
171                   (LOTR1, Green Mile)  ...        inf
174                  (LOTR2, Sixth Sense)  ...        inf
175                   (LOTR2, Green Mile)  ...        inf
184                  (LOTR2, Sixth Sense)  ...        inf
186                   (LOTR2, Green Mile)  ...        inf
187          (Sixth Sense, Harry Potter1)  ...        inf
189           (Harry Potter1, Green Mile)  ...        inf
199                (LOTR2, Harry Potter1)  ...        inf
200                   (LOTR2, Green Mile)  ...        inf
201                (LOTR1, Harry Potter1)  ...        inf
202                   (LOTR1, Green Mile)  ...        inf
213      (LOTR2, Sixth Sense, Green Mile)  ...        inf
214   (LOTR2, Sixth Sense, Harry Potter1)  ...        inf
215           (LOTR2, Sixth Sense, LOTR1)  ...        inf
216    (LOTR2, Harry Potter1, Green Mile)  ...        inf
217            (LOTR1, LOTR2, Green Mile)  ...        inf
220      (LOTR1, Sixth Sense, Green Mile)  ...        inf
221   (Sixth Sense, Harry Potter1, LOTR1)  ...        inf
222    (LOTR1, Harry Potter1, Green Mile)  ...        inf
223                  (LOTR2, Sixth Sense)  ...        inf
224                   (LOTR2, Green Mile)  ...        inf
225                (LOTR2, Harry Potter1)  ...        inf
228          (Sixth Sense, Harry Potter1)  ...        inf
229                  (Sixth Sense, LOTR1)  ...        inf
230           (Harry Potter1, Green Mile)  ...        inf
231                   (LOTR1, Green Mile)  ...        inf
232                (LOTR1, Harry Potter1)  ...        inf

[42 rows x 9 columns]

In [ ]:
frequent_itemsets2 = apriori(df, min_support=0.5, use_colnames=True)
frequent_itemsets2#CHANG MIN_SUPPORT TO 0.5

   support                  itemsets
0      0.6             (Sixth Sense)
1      0.7               (Gladiator)
2      0.6                 (Patriot)
3      0.5  (Sixth Sense, Gladiator)
4      0.6      (Patriot, Gladiator)

In [ ]:
rules2 = association_rules(frequent_itemsets2, metric="confidence", min_threshold=0.8)
rules2

     antecedents  consequents  ...  leverage  conviction
0  (Sixth Sense)  (Gladiator)  ...      0.08         1.8
1      (Patriot)  (Gladiator)  ...      0.18         inf
2    (Gladiator)    (Patriot)  ...      0.18         2.8

[3 rows x 9 columns]

In [ ]:
# from this we can understand if a customer buys Patroit then he is going to buy Gladiator with confidence of 80%